.linkIcon {
  display: inline-flex;
  align-items: center;

  & svg {
    transition: stroke 0.3s easeOutCirc;
  }

  &:hover {
    & .linkIcon_content {
      transition: transform 0.3s easeOutCirc;
      transform: translateX(4px);
    }

    & svg {
      transition: stroke 0.3s easeOutCirc;
      stroke: var(--colorSecondary);
    }
  }

  &.linkIcon__isSmall {
    font-size: 1.4rem;
    &:hover {
      & .linkIcon_content {
        transform: translateX(2px);
      }
    }
  }

  &.linkIcon__isLeft {
    & svg {
      transform: rotate(180deg);
    }
  }

  &.linkIcon__isIconFirst {
  }

  &.linkIcon__isIconLast {
    & svg {
      order: 2;
      margin-left: var(--m2XS);
    }
    &.linkIcon_content {
      margin-left: 0;
      order: 1;
    }
  }
}

.linkIcon_content {
  transition: all 0.1s easeInCirc;
  margin-left: var(--m2XS);
}
